.container {
  padding: 80px 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 50px;
  background: linear-gradient(to right, #a3a3a3, #059669);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
}

.card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background: transparent;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  /* Masking halus di bagian bawah gambar */
  -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

.img {
  transition: transform 0.6s ease;
  object-fit: cover;
}

.info {
  padding: 5px;
}

.category {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #059669; /* Hijau Emerald */
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.projectTitle {
  font-size: 24px;
  color: #a3a3a3;
  font-weight: 700;
  transition: color 0.3s ease;
}

/* --- Hover Effect --- */
.card:hover .projectTitle {
  color: #059669;
}

.card:hover .img {
  transform: scale(1.05); /* Zoom halus pada gambar */
}

.card:hover {
  transform: translateY(-8px);
}