* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

:root{
  --bg-color: #fafafa;
  --fg-color: #222222;
  --text-main: #171717;
  --text-muted: #525252;
  --accent-color: #059669;
}

.dark-mode{
  --bg-color: #050505;
  --card-bg: #121212;
  --text-main: #eeeeee;
  --text-muted: #a3a3a3;
  --accent-color: #10b981;
}


html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #050505;
  color: #EEEEEE;
  font-family: var(--font-inter), sans-serif;
}


a {
  text-decoration: none;
  color: inherit;
}

.container {
max-width: 1366px;
min-height: 100vh;
margin: 0 auto;
padding: 0 60px;
display: flex;
flex-direction: column;
justify-content: space-between;

}