.container {
  display: flex;
  align-items: center;
  gap: 100px;
  position: relative;
  background: transparent; 
  overflow: visible; 
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative; 
  z-index: 1; 
}

.title {
  font-size: 55px;
  font-weight: 800;
  line-height: 1.1;
  background : linear-gradient(to bottom, #a3a3a3, #059669 ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description{
  color: var(--text-muted);
  font-size: 18px;
  line-height: 1.6;
}
.hero{
  width: 100%;
  height: 600px;
  object-fit: cover;
  /* Membuat gradien transparan dari atas ke bawah */
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
   mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  filter: contrast(110%);
}

.buttonGroup {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

/* Base style untuk tombol berbasis garis */
.primaryButton, .secondaryButton {
  padding: 12px 26px;
  background-color: transparent; /* Transparan agar garis terlihat dominan */
  cursor: pointer;
  border-radius: 4px; /* Sudut sedikit tajam untuk kesan profesional */
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase; /* Opsional: memberikan kesan tegas */
  font-size: 14px;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Tombol HIRE ME (Highlighted) */
.primaryButton {
  border: 2px solid #059669; /* Hijau Data Science kamu */
  color: #059669;
  /* Efek Masking yang kamu minta: Memudar sedikit di bagian bawah */
  -webkit-mask-image: linear-gradient(to bottom, black 80%, rgba(0,0,0,0.5) 100%);
  mask-image: linear-gradient(to bottom, black 80%, rgba(0,0,0,0.5) 100%);
}

.primaryButton:hover {
  background-color: #059669;
  color: white;
  -webkit-mask-image: none;
  mask-image: none;
  box-shadow: 0 0 20px rgba(5, 150, 105, 0.4); /* Efek bercahaya (glow) */
  transform: translateY(-2px);
}

/* Tombol EXPLORE (Minimalist) */
.secondaryButton {
  border: 1px solid #a3a3a3; /* Abu-abu tipis */
  color: #a3a3a3;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, rgba(0,0,0,0.3) 100%);
  mask-image: linear-gradient(to bottom, black 70%, rgba(0,0,0,0.3) 100%);
}

.secondaryButton:hover {
  border-color: #059669; /* Berubah jadi hijau saat didekati */
  color: #059669;
  -webkit-mask-image: none;
  mask-image: none;
  background-color: rgba(5, 150, 105, 0.05); /* Hijau sangat tipis */
}